# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.pyc

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
*.log